In [1]:
def add_function(num1,num2):
    return num1+num2

In [2]:
result=add_function(2,3)

In [3]:
result

5

In [4]:
def say_hello():
    print("HI")
    print("How are you")

In [5]:
say_hello()

HI
How are you

In [6]:
def say_hello(name):
    print(f'Hello {name}')

In [7]:
say_hello('ashish')

Hello ashish

In [8]:
type(result)

int

In [9]:
def even_check(number):
    result = number % 2 == 0
    return result

In [10]:
even_check(20)

True

In [11]:
even_check(23)

False

In [12]:
#Return true if any number is even inside a list

In [42]:
def check_even_list(num_list):
    
    #return all the even number in a list
    
    even_numbers = []
    
    for number in num_list:
        if number % 2 == 0:
            even_numbers.append(number)
        else:
            pass
    return even_numbers

In [43]:
check_even_list([1,8,1,5,4])

[8, 4]

In [44]:
[]

[]

In [45]:
check_even_list([2,3,1,3,5,1])

[2]

In [46]:
stock_price = [('APPL',200),('GOOG',400),('MSFT',100)]

In [48]:
for item in stock_price:
    print(item)

('APPL', 200)
('GOOG', 400)
('MSFT', 100)

In [49]:
for ticker,price in stock_price:
    print(ticker)

APPL
GOOG
MSFT

In [56]:
def employee_check(stock_price):
    
    current_max = 0
    employee_of_month = ''
    
    for ticker,price in stock_price:
        if price > current_max:
            current_max = price
            employee_of_month = ticker
            
        else:
            pass
            
    
    
    
    
    #returens
    return(employee_of_month,current_max)

In [58]:
result=employee_check(stock_price)

In [59]:
result

('GOOG', 400)

In [60]:
name, price =employee_check(stock_price)

In [61]:
name

'GOOG'

In [1]:
Example = [1,2,3,4,2,6,3,78,12]
from random import shuffle

In [2]:
def shuffle_list(mylist):
    shuffle(mylist)
    return mylist

In [3]:
result = shuffle_list(Example)

In [4]:
result

[3, 1, 2, 3, 4, 78, 12, 6, 2]

In [5]:
def player_guess():
    
    guess=''
    
    while guess not in ['0','1','2']:
        guess = input("pick a number: 0,1, or 2")
        
    return int(guess)

In [6]:
player_guess()

pick a number: 0,1, or 21

1

In [7]:
def check_guess(mylist,guess):
    if mylist[guess] == 'O':
        print("correct")
    else:
        print("wrong guess!")
        print(mylist)

In [9]:
mylist = ['','O','']

#shuffle list
mixedup_list = shuffle_list(mylist)

#user guess
guess = player_guess()

#Check Guess

check_guess(mixedup_list,guess)

pick a number: 0,1, or 21
wrong guess!
['', '', 'O']

In [10]:
#args and Kwargs

In [12]:
def function_name_print(a,b,c,d):
    print(a,b,c,d)
    
function_name_print('harry','rohan','skillf','hammad')

harry rohan skillf hammad

In [13]:
#agrs(it takes as tupple)

In [16]:
def agrspractice(*args):
    #print(ash[0])
    for item in args:
        print(item)
    
ash=['ashish','rohan','harrry','skillf','hammad','shivam']

agrspractice(*ash)

ashish
rohan
harrry
skillf
hammad
shivam

In [18]:
def agrspractice(normal,*args): #args should always be in last
    #print(ash[0])
    print(normal)
    for item in args:
        print(item)
    
ash=['ashish','rohan','harrry','skillf','hammad','shivam']
normal = "this is a practice"

agrspractice(normal,*ash)

this is a practice
ashish
rohan
harrry
skillf
hammad
shivam

In [21]:
def agrspractice(normal,*args,**kwargswala): #args should always be in last
    #print(ash[0])
    print(normal)
    for item in args:
        print(item)
    print("now i would like to introduce some of our heroes")
    
    for key,value in kwargswala.items():
        print(f"{key} is a {value}")
    
ash=['ashish','rohan','harrry','skillf','hammad','shivam']
normal = "this is a practice"
kw ={'ashish':'SDET','harry':'Teacher','udemy':'master'}

agrspractice(normal,*ash,**kw)

this is a practice
ashish
rohan
harrry
skillf
hammad
shivam
now i would like to introduce some of our heroes
ashish is a SDET
harry is a Teacher
udemy is a master

In [22]:
def square(num):
    return num**2

In [23]:
my_nums = [1,2,3,4,5]

In [25]:
for item in map(square,my_nums):
    print(item)

1
4
9
16
25

In [26]:
list(map(square,my_nums))

[1, 4, 9, 16, 25]

In [27]:
def splicer(mystring):
    if len(mystring)%2 == 0:
        return 'EVEN'
    else:
        return mystring[0]

In [28]:
names = ['Andy','Eve','Sally']

In [29]:
list(map(splicer,names))

['EVEN', 'E', 'S']

In [30]:
def check_even(num):
    return num%2 == 0

In [33]:
my_nums1 = [1,2,3,4,5,6]

In [34]:
list(filter(check_even,my_nums1))

[2, 4, 6]

In [42]:
def square(num): return num ** 2

In [47]:
square = lambda num: num ** 2

In [48]:
square(4)

16

In [49]:
list(map(lambda num: num ** 2,my_nums1))

[1, 4, 9, 16, 25, 36]

In [53]:
x = 25

def printer():
    x = 50
    return x

In [54]:
print(x)

25

In [55]:
printer()

50

In [67]:
#Global
name = 'This is a global string'

def greet():
    #Enclosing
    #name = 'Sammy'
    
    def hello():
        #local
        #name = 'Ashish'
        print('Hello '+name)
        
    hello()

In [66]:
greet()

Hello This is a global string

In [78]:
x = 50
 
def fun(x):
    
    print(f'X is {x}')
    
    #local reassignment
    x=200
    print(f' I just locally changed x to {x}')

In [79]:
fun(x)

X is 50
 I just locally changed x to 200

In [81]:
x = 50
 
def fun():
    
    global x 
    
    print(f'X is {x}')
    
    #local reassignment
    x='new value'
    print(f' I just locally changed x to {x}')

In [82]:
fun()

X is 50
 I just locally changed x to new value

In [92]:
x = 50
 
def fun(x):
    
    
    print(f'X is {x}')
    
    #local reassignment
    x='new value'
    print(f' I just locally changed x to {x}')
    return x

In [93]:
print(x)

50

In [94]:
x = fun(x)

X is 50
 I just locally changed x to new value

In [95]:
x

'new value'